<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">begin speech search from here...</h4>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Movie Name</label>
                                <template #searchMessage>
                                    Say <b>'Search'</b> to find movie 
                                    <br />
                                    <span class="text-center">OR</span>
                                    <br />
                                    Say <b>'Clear'</b> to reset the search fields
                                </template>
                                <input type="text" class="form-control border-input" name="txtSpeechSearchMovieName" id="txtSpeechSearchMovieName" value=""
                                       placeholder="Say Movie Name" [(ngModel)]="model.name" [nglPopover]="searchMessage" nglPopoverTheme="warning"
                                       [nglOpen]="!showSearchButton" nglPopoverPlacement="top">
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <br />
                    <div class="text-center">
                        <button class="btn btn-info btn-fill btn-wd" name="btnActivateSpeechSearchMovie" id="btnActivateSpeechSearchMovie" (click)="activateSpeechSearchMovie()"
                                nglPopover="Click Here to Activate Speech Search !!!" nglPopoverTheme="info" [nglOpen]="showSearchButton" nglPopoverPlacement="right"
                                [disabled]="!showSearchButton">
                            Enable Speech Search
                        </button>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>