<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">begin speech search from here...</h4>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Movie Name</label>
                                <input type="text" class="form-control border-input" name="txtSpeechSearchMovieName" id="txtSpeechSearchMovieName" value=""
                                       placeholder="Say Movie Name" [(ngModel)]="model.name">
                            </div>
                        </div>
                    </div>
                    <template #tip2>
                        Sit nulla est ex deserunt exercitation anim occaecat. Nostrud ullamco deserunt aute id consequat veniam incididunt duis in sint irure nisi.
                    </template>
                    value is : {{val}}

                    <br />
                    <br />
                    <div class="text-center">
                        <button class="btn btn-info btn-fill btn-wd" name="btnActivateSpeechSearchMovie" id="btnActivateSpeechSearchMovie" (click)="activateSpeechSearchMovie()"
                                [nglPopover]="popover.message" [nglPopoverTheme]="popover.theme" [nglOpen]="popover.display" [nglPopoverPlacement]="popover.position">
                            Enable Speech Search
                        </button>
                    </div>
                    {{popover.message}}
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>