<link href="../../../Content/assets/css/main.css" rel="stylesheet" type="text/css" />
<link href="../../../Content/assets/css/owl.carousel.css" rel="stylesheet" type="text/css" />
<link href="../../../Content/assets/css/pixeden-icons.css" rel="stylesheet" type="text/css" />

<body class="sidebar-disabled archive">
    <div class="xv-overFlow">
        <div class="container">
            <div class="pageContentArea archive-content">
                <main>
                    <header>
                        <ul class="breadcrumb">
                            <li><span>Entertainment News</span></li>
                        </ul>
                    </header>

                    <div class="timeline-wrap">
                        <article *ngFor="let newsItem of newsList.news">
                            <time datetime="2015-01-31 08:30:45.687">{{newsItem.datePublished | date}}</time>
                            <div class="specialContent">
                                <div class="shareWrapper">
                                    <button (click)="displaySource(newsItem.sourceName)"><i class="icon-next-1-f"></i></button>
                                </div>
                            </div>
                            <div class="article_inner clearfix">
                                <figure>
                                    <img [src]="newsItem.thumbnailUrl" width="600" height="290" alt=""/>
                                </figure>
                                <h1><a target="_blank" href="{{newsItem.url}}">{{newsItem.name}}</a></h1>
                                <p>{{newsItem.description | slice:0:150}}...</p>
                                <a class="readMore" target="_blank" href="{{newsItem.url}}">Read More..</a>
                            </div>
                            <ngl-badge type="info">{{newsItem.sourceName}}</ngl-badge>
                            <ngl-badge type="warning">{{newsItem.category}}</ngl-badge>
                        </article>
                        <a href="#" class="loadTimeline">That's All Folks</a>
                    </div>

                </main>
            </div>
        </div>
    </div>
</body>
