<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="icon-container">
                <a [routerLink]="backUrl">
                    <span class="ti-arrow-circle-left"></span>
                    <span class="icon-name"> Back</span>
                </a>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="clearfix"></div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">{{movieListModel.response == "True" ? "Feeling lucky?" : "Nope !! We couldnt found anything, Try again !!!"}}</h4>
                    <p class="category">{{movieListModel.response == "True" ? "Total Records: " + movieListModel.totalResults : "No record."}}</p>
                </div>
                <br />
                <div class="col-md-offset-4">
                    <div class="slds-text-title--caps-normal slds-m-bottom--x-small">Showing {{pagination.start}} - {{pagination.end}} of {{movieListModel.totalResults}}</div>
                    <ngl-pagination [(page)]="page" (pageChange)="refreshDataOnPageChange($event)" [total]="movieListModel.totalResults" limit="5" 
                                    boundaryNumbers="2" perPage="10" #pagination boundaryLinks></ngl-pagination>
                </div>
                <br />
                <br />
                <div class="content table-responsive">
                    <table ngl-datatable [data]="movieListModel.search" trackByKey="imdbID" [loading]="tableLoadingStatus" [(sort)]="sort" (sortChange)="onSort($event)"
                           (onRowClick)="onRowClick($event)" class="slds-max-medium-table--stacked-horizontal">

                        <ngl-datatable-column heading="Title" key="title" cellClass="slds-truncate" sortable>
                            <template nglDatatableHeading>
                                <strong>Title</strong>
                            </template>
                            <template nglDatatableCell let-row="row">
                                <b>{{row.title}}</b>
                            </template>
                        </ngl-datatable-column>

                        <ngl-datatable-column heading="Type" key="type" cellClass="slds-truncate" sortable>
                            <template nglDatatableHeading>
                                <strong>Type</strong>
                            </template>
                            <template nglDatatableCell let-row="row">
                                {{row.type}}
                            </template>
                        </ngl-datatable-column>

                        <ngl-datatable-column heading="Year" key="year" cellClass="slds-truncate" sortable>
                            <template nglDatatableHeading>
                                <strong>Year</strong>
                            </template>
                            <template nglDatatableCell let-row="row">
                                {{row.year}}
                            </template>
                        </ngl-datatable-column>

                        <ngl-datatable-column heading="IMDB-ID" key="imdbID" cellClass="slds-truncate" sortable>
                            <template nglDatatableHeading>
                                <strong>IMDB-ID</strong>
                            </template>
                            <template nglDatatableCell let-row="row">
                                {{row.imdbID}}
                            </template>
                        </ngl-datatable-column>

                        <ngl-datatable-column heading="Poster" key="poster">
                            <template nglDatatableHeading>
                                <strong>Poster</strong>
                            </template>
                            <template nglDatatableCell let-value let-row="row">
                                <img src="{{row.poster != 'N/A' ? row.poster: '../../../../Image/notavailable.svg.png'}}"
                                     style="height: 150px; width: 150px" />
                            </template>
                        </ngl-datatable-column>

                        <!-- Loading overlay -->
                        <template nglLoadingOverlay>
                            <div class="slds-box slds-box--small slds-theme--shade slds-text-align--center">Loading...</div>
                        </template>

                        <!-- No rows overlay -->
                        <template nglNoRowsOverlay>
                            No movie(s) available for searched query !!! 
                        </template>
                    </table>
                    <br />
                    <br />
                    <div class="col-md-offset-4">
                        <div class="slds-text-title--caps-normal slds-m-bottom--x-small">Showing {{pagination.start}} - {{pagination.end}} of {{movieListModel.totalResults}}</div>
                        <ngl-pagination [(page)]="page" (pageChange)="refreshDataOnPageChange($event)" [total]="movieListModel.totalResults" limit="5" boundaryNumbers="2" perPage="10" #pagination boundaryLinks></ngl-pagination>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>